Source: ros-hydro-kingfisher-msgs
Section: misc
Priority: extra
Maintainer: Mike Purvis <mpurvis@clearpathrobotics.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-message-generation
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-kingfisher-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Provides standard messages specific to Kingfisher, especially for the microcontroller's rosserial interface.
