Source: ros-hydro-kingfisher-teleop
Section: misc
Priority: extra
Maintainer: Mike Purvis <mpurvis@clearpathrobotics.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/kingfisher_teleop
Standards-Version: 3.9.2

Package: ros-hydro-kingfisher-teleop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-geometry-msgs, ros-hydro-joy, ros-hydro-kingfisher-msgs, ros-hydro-rospy, ros-hydro-sensor-msgs, ros-hydro-tf, ros-hydro-topic-tools
Description: The kingfisher_teleop package
