Source: ros-hydro-kingfisher-description
Section: misc
Priority: extra
Maintainer: Mike Purvis <mpurvis@clearpathrobotics.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-kingfisher-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-robot-state-publisher, ros-hydro-urdf, ros-hydro-xacro
Description: URDF description for Kingfisher
